<div class="container">
  <div class="form-content">
    <h2 class="title-name">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group pl-4 pr-4">
        <%= f.label :email, class: 'float-left font-weight-bold' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field form-group pl-4 pr-4">
        <%= f.label :password, class: 'float-left font-weight-bold' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
