<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :titile, for: 'title', class: 'float-left font-weight-bold' %>
    <%= form.text_field :titile, id: 'title', class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :body, for: 'body', class: 'float-left font-weight-bold' %>
    <%= form.text_area :body, id: 'body', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
