<%= render 'posts/navbar' %>
<%= render 'shared/flash' %>

<div class="container">
  <h1 class="font-weight-bolder text-center">Posts</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.titile %></td>
          <td><%= post.body %></td>
          <td>
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
</div>
