<%= render 'posts/navbar' %>
<%= render 'shared/flash' %>

<div class="container">

  <h1 class="font-weight-bolder text-center">Show</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Titile</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.titile %></td>
        <td><%= @post.body %></td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>

</div>